* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    flex: 0;
    display: flex;
    justify-content: space-around;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
}

.links a,
.sign-up p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.image img {
    background-color: grey;
}

.information {
    flex: 1;
}

.information h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: auto;
    text-align: center;
}

.caption img {
    width: 180px;
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    background-color: white;
}

.quote {
    flex: 1;
    background-color: #E5E7EB;
}

blockquote {
    display: flex;
    flex-direction: column;
    margin: 6rem 16rem;
}

blockquote h2 {
    align-self: flex-end;
    margin: 2rem;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: oblique;
}

.cta {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.box {
    background-color: #3882F6;
    padding: 32px;
    margin: 6rem;
    border-radius: 10px;
}

.sign {
    display: flex;
}

.cta-description {
    flex-grow: 0;
}

.cta-sign-up {
    align-items: center;
    display: flex;
}

.cta-button {
    border: 2px solid white;
}

.footer {
    flex: 0;
    text-align: center;
    color: white;
    padding: 16px;
}

img {
    background-color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}